*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body{
    height: 100%;
}


#h2{
    color: blue;
}

#tableWrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

#container{
    display: flex;
    flex-direction: column;
    
}

#enterUsers{
    position: relative;
    text-align: center;
}

#enterUsers:hover{
    opacity: 70%;
}

input:focus::placeholder {
    color: transparent;
  }

input{
    border:none;
    outline:none;
    border-bottom:1px solid #efeeed;
        
}


h2{
    text-align: center;
    font-size: 38px;
    font-family: Helvetica;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

body {
   background-color: rgb(2,0,36); 
   background: linear-gradient(90deg, rgb(219, 220, 241) 0%, rgb(151, 180, 185) 35%, rgb(250, 251, 252) 100%);
   background-size: cover;
   width: 100%;
   height: 100%;
}

#header{
    background-color: white;
    height: 80px;
    width: fit-content;
}

#image{
    justify-content: center;
    text-align: center;
    display: block;
}


body{
    font-family: Helvetica;
}

#infoTable{
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 90%;
    white-space: nowrap;
    background-color: transparent;
}

#infoTable td, #infoTable th{
    text-align: center;
    padding: 8px;
}

#infoTable td{
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

#enterButton{
    background-color: transparent;
    color: #fff;
    justify-content: center;
    border: 2px solid #FFF;
    border-radius: 25px;
    width: 300px;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: 0.4s;
    text-align: center;
   }

#enterButton:hover{
    opacity: 70%;
}



/* th{
	display:flex;
	width:100%;
	background:rgb(238, 240, 241);
	padding:(18) 0;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 2px;
  } */



#submitButton, #btnSubmit{
    font-family: Helvetica;
    background-color: #00c8b3;
    color: #ffffff;
    justify-content: center;
    border-radius: 25px;
    border-color: #00c8b3;
    width: 300px;
    height: 40px;
    font-size: 22px;
    cursor: pointer;
   }
#submitButton:hover, #btnSubmit:hover{
    opacity: 70%;
}

#lockedButton{
    font-family: Helvetica;
    background-color: #dddcdc;
    color: #f6f6f6;
    justify-content: center;
    border-radius: 25px;
    border-color: #f6f6f6;
    width: 300px;
    height: 40px;
    font-size: 22px;
    cursor: pointer;
}

#loadingButton{
    font-family: Helvetica;
    background-color: #00c8b3;
    color: #f6f6f6;
    justify-content: center;
    border-radius: 25px;
    border-color: #00c8b3;
    width: 200px;
    height: 50px;
    font-size: 22px;
    cursor: pointer;
}

.c-loader {
    margin: 0 auto;
    animation: is-rotating 1s infinite;
    border: 3px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 20px;
    width: 20px;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }